@import "tailwindcss";

@theme {
    --font-primary: "Alegreya Sans", sans-serif;
    --font-secondary: "Roboto", sans-serif;
    --font-tertiary: "Allura", cursive;
    --font-artistic-primary: "Pompiere", cursive;
    --font-artistic-secondary: "Federo", cursive;

    --color-primary-black: #222831;
    --color-secondary-black: #4b5563;

    --color-primary-white: #ffffff;
    --color-secondary-white: #f0f0f0;

    --color-beige-light: #cfbda1;
    --color-beige-dark: #a19581;
    --color-beige-accent: #6f6454;

    --color-green-light: #739072;
    --color-green-dark: #4f6f52;
}

html,
body,
#root {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.range-slider {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    pointer-events: none;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 9999px;
    background: blue;
    border: 2px solid #fff;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    z-index: 20;
}

.range-slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 9999px;
    background: blue;
    border: 2px solid #fff;
    cursor: pointer;
    pointer-events: auto;
}

.range-slider::-webkit-slider-runnable-track {
    background: transparent;
    height: 8px;
}

.range-slider::-moz-range-track {
    background: transparent;
    height: 8px;
}
